 <footer class="w-full py-8 px-margin-desktop bg-surface border-t border-outline-variant mt-auto">
        <div
            class="flex flex-col md:flex-row justify-between items-center gap-4 text-label-md font-label-md text-on-surface-variant">
            <div class="flex gap-6">
                <span>© 2024 CivicResolve GovTech</span>
                <a class="hover:text-primary transition-colors" href="#">Accessibility</a>
                <a class="hover:text-primary transition-colors" href="#">Data Privacy</a>
            </div>
            <div class="flex items-center gap-2">
                <span class="material-symbols-outlined text-[16px]" data-icon="language">language</span>
                <span>Language: English (US)</span>
            </div>

             
        </div>
    </footer>